body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
  // background-color: antiquewhite;
  // background-image: url(https://wallpapercave.com/wp/wp3296031.jpg);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  display: grid;
  /* width: 90%;
  height: 90%; */
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  border: 2px solid black;
  grid-area: 3 / 2 / 8 / 8;
  &:hover {
    background-color: rgb(255, 208, 147);
  }
}
.div2 {
  border: 2px solid black;
  grid-area: 8 / 2 / 10 / 8;
}
.div3 {
  border: 2px solid black;
  grid-area: 3 / 8 / 10 / 9;
}
