* {
  box-sizing: border-box;
}
body {
  // background-color: #abd9e9;
  font-family: Arial;
}

.chat-room {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  // background-color: rgba(221, 209, 194, 0.4);
  background-color: antiquewhite;
  border-radius: 0.5em;
  width: 90%;
  height: 50em;
  margin: auto;
  padding: 0;
}

.messages-list {
  grid-area: 1 / 1 / 6 / 5;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  opacity: 0.8;
  // background-repeat: no-repeat;
}
.message-input {
  grid-area: 6 / 1 / 7 / 5;
  margin: auto;
  padding: 0.25em;
  width: 90%;
}
.members-list {
  grid-area: 1 / 5 / 7 / 7;
  /* overflow-y: auto; */
  background-color: antiquewhite;
}

@media screen and (max-width: 1300px) {
  .chat-room {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    // background-color: rgba(221, 209, 194, 0.4);
    border-radius: 0.5em;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 0;
  }
}
// ****************************************************************
// ****************************************************************
// ****************************************************************
// members
.members-list ul {
  border-top: 1px solid black;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
  text-align: left;
  // background-color: #5e616a7a;
}
.members-list li {
  border-bottom: 1px solid;
  padding: 10px 0;
}
.members-list li:hover {
  background-color: #5e616a7a;
}
h2,
h3 {
  margin: 0;
}
.members-list li img {
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 8px;
  height: 4em;
  width: 4em;
}
.members-list li div {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  display: flex;
}
.members-list li h2 {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: normal;
  margin-bottom: 5px;
}
.members-list li h3 {
  font-size: 12px;
  color: #7e818a;
  font-weight: normal;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.black {
  background-color: #101110;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}

// ****************************************************************
// ****************************************************************
// ****************************************************************
// chat
#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}
#chat li {
  padding: 0.5em 1.5em;
  text-align: left;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 0.75em;
  font-weight: bold;
}
#chat h3 {
  color: rgb(0, 0, 0);
}
#chat .entete {
  margin-bottom: 5px;
}
#chat .message {
  padding: 0.5em;
  color: rgb(0, 0, 0);
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: #ffffffd8;
}
#chat .me .message {
  background-color: #63e477d7;
}

.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: #58b666;
}
.orange {
  background-color: #ff725d;
}
.blue {
  background-color: #6fbced;
  margin-right: 0;
  margin-left: 7px;
}
/* #chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent #58b666 transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  border-color: transparent transparent #6fbced transparent;
  margin-left: 375px;
} */

// ****************************************************************
// ****************************************************************
// ****************************************************************
// message
.send-message {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}

.message-input {
  background-color: rgba(255, 99, 71, 0.61);
  font-size: 1.15em;
  margin: 0.3em;
  padding: 0.35em;
  border-radius: 0.5em;
  border-color: #222;
  color: rgb(0, 0, 0);
  font-family: cursive;
}

.send-btn {
  font-size: large;
  margin: 1em auto;
  border: 1px solid wheat;
  border-radius: 0.5em;
  background-color: rgb(97, 230, 137);
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Didact Gothic';
  &:hover {
    background-color: rgb(69, 182, 103);
  }
}
